#SEh1{
    font-family: 'Space Mono', monospace;
}

#GDh1{
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
}

#Ah1{
    font-family: 'Indie Flower', cursive;
}

#DMh1{
    font-family: 'MedievalSharp', cursive;
}

h1{
    color: white;
    font-size: 50px;
}

#subtitle{
    color: white;
}
